.goodbrands{
    width: 100%;
    height: 224px;
     /* background-color: red; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    position:relative;
   
   border: 1px solid lightgray;
        border-radius: 20px;
   
    
    .t{
        font-family: iranyekan;
        font-size: 20px;
        position: absolute;
        padding-bottom: 140px;
        color:#0c0c0c ;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        svg{
            width: 24px;
             height: 24px;
              fill:#f9bc00;
        }
       
      
      
        
    }
    .maingoodbrands{
        width: 97%;
        height: 149px;
        /* background-color: green; */
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;
        gap: 50px;
        padding-top:80px;
      
        .item{
            width: 60px;
            height: 152px;
           
          
            img{
                width:110px;
                height: 110px;
               

            }
        }
    }
   
}