*{
    margin: 0;
    padding: 0;
}


.main{
    width:350px;
    height: 450px;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    margin: 100px auto;
    
}

.head{
 height: 80px;
  .img{
    width:10%;
    height:30px;
   display: flex;
   align-items: center;
    justify-content:center;
   flex-direction: row-reverse;
   margin-top:-70px ;
   
  }
  
    }
   

img{
    width:50%;
    height: 50%;
    margin: 20px;

}
h3{
    margin: 20px;
    font-size: 16px;
    font-family: iranyekan;
}
p{
    margin:20px;
    font-size: 10px;
    font-family: iranyekan;
   color:gray;
}
.input{
    width:300px;
    height: 50px;
    border:1px solid black;
    border-radius: 10px 10px;
    margin:10px 20px 10px 10px;
    
}
input:focus{
box-shadow:10px 10px 25px gray;
}
::placeholder{
    font-family: iranyekan;
    font-size: 10px;
    margin:20px 20px 0px 0px;
}
.input2{
    width: 300px;
    height: 50px;
    font-family: iranyekan;
    border:1px solid gray;
    border-radius: 10px;
    margin: 20px 20px 0px 0px;
    background-color:#EF4056;
    color: #FFFFFF;
    cursor: pointer;
}
.div{
    font-family: iranyekan;
    font-size: 10px;
    margin: 20px;
   
}
.a1{
    color:#0892C6 ;
    font-family: iranyekan;
    text-decoration: none;
}
.a2{
    color: #0892C6;
    font-family: iranyekan;
    text-decoration: none;
}

@font-face{
    font-family: iranyekan;
    src: url(../font/fonts/IRANYekanWeb-Medium.eot);
    src: url(../font/fonts/IRANYekanWeb-Medium.ttf);
    src: url(../font/fonts/IRANYekanWeb-Medium.woff);
    src:url(../font/fonts/IRANYekanWeb-Medium.woff2);
}